@model LibraryManagerFrontMvc.Models.RegisterViewModel

@{
    ViewData ["Title"] = "Register Page"
}

<h1>@ViewData["Title"]</h1>

<hr>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            
        </form>
    </div>
</div>