@model LibraryManagerFrontMvc.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register Page";
}

<h1>@ViewData["Title"]</h1>

<hr>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input type="email" asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input type="password" asp-for="Password" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input type="password" asp-for="ConfirmPassword" class="form-control">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label"></label>
                <input type="text" asp-for="FirstName" class="form-control">
                @* <span asp-validation-for="FirstName" class="text-danger"></span> *@
            </div>
            
            <div class="mb-3">
                <label asp-for="LastName" class="form-label"></label>
                <input type="text" asp-for="LastName" class="form-control">
                @* <span asp-validation-for="FirstName" class="text-danger"></span> *@
            </div>
            
            <div class="form-group">
                <input type="submit" value="Valider" class="btn-outline-secondary">
                <a asp-action="Index" class="btn btn-secondary">Retour</a>
            </div>
            
        </form>
    </div>
</div>